<h1>Welcome to My Portfolio Website</h1>
<br>
<br>
<div class="container" style="margin-top:50px;">
<h2>Hi !! Im Arjun Kumar</h2>
<hr>
<p style="font-size:15px;"> Im a fullstack developer in Java. I have experience in working on Springframework, Angular ,Rest API's, Automation testing.
    I have worked in backend technologies for many years. I have looking for a new role. Explore about me through this Portfolio.
    To contact me click on the button below.
</p>
<br>
<button type="button" routerLink="/contact" class="btn btn-primary">Contact me -></button>
</div>