<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br><br>
<h1 style="text-align:center; color:rgb(250, 86, 16); font-size: 50px;">Contact</h1>
<div class="container" style="margin-top:70px;margin-left:400px ;">
    <div class="btn-group btn-group-sm my-3" role="group" aria-label="footer">
        <button type="button" class="btn btn-secondary btn-success" style="font-size:100px; width:200px;"><a href="https://github.com/login" target="_blank" style="color: white;"><i class="fa fa-github-alt"></i></a></button>&nbsp;
        <button type="button" class="btn btn-secondary btn-success" style="font-size:100px; width:200px;"><a href="https://mail.google.com/mail/" target="_blank" style="color: white;"><i class="fa fa-google"></i></a></button>&nbsp;
        <button type="button" class="btn btn-secondary btn-success" style="font-size:100px; width:200px;"><a href="https://twitter.com/i/flow/login" target="_blank" style="color: white;"><i class="fa fa-twitter"></i></a></button>&nbsp;
        <button type="button" class="btn btn-secondary btn-success" style="font-size:100px; width:200px;"><a href="https://www.linkedin.com/login" target="_blank" style="color: white;"><i class="fa fa-linkedin"></i></a></button>
    </div>
</div>
<br>
<h2 style="text-align:center; color:blue;">To contact: click on the above icons respectively to contact via the given platforms</h2>
