<div class="container">
    <h1 style="text-align:center;color:darkblue; margin-top: 20px; background-color: yellow;">Projects</h1>
    <p class="m-2"> &nbsp; </p>
    <table class="table table-hover">
        <thead>
            <tr class="table-success">
                <th scope="col">S.no</th>
                <th scope="col">Project Name</th>
                <th scope="col">Domain</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" class="table-primary">
                <td>1</td>
                <td>Lung Cancer Detection</td>
                <td>Image Processing</td>
            </tr>
            <tr scope="row">
                <td>2</td>
                <td>Movie Ticket Booking</td>
                <td>Java</td>
            </tr>
            <tr scope="row" class="table-primary">
                <td>3</td>
                <td>Motion Detection</td>
                <td>Python</td>
            </tr>
            <tr scope="row">
                <td>4</td>
                <td>Online Shopping Website</td>
                <td>Html,CSS,Javascript</td>
            </tr>
            <tr scope="row" class="table-primary">
                <td>5</td>
                <td>Calculator</td>
                <td>Html,CSS,Javascript</td>
            </tr>
            
        </tbody>
    </table>
</div>
